<div class="swiper-container main-slider swiper-arrow with-bg_white">
    <div class="swiper-wrapper">
        <div class="swiper-slide animation-style-01">
            <div class="slide-inner bg-height" data-bg-image="https://localhost:7035/assetsuser/images/slider/bg/bg1.jpg">
                <div class="parallax-img-wrap">
                    <div class="chilly">
                        <div class="scene fill">
                            <div class="expand-width" data-depth="0.2">
                                <img src="~/assetsuser/images/slider/inner-img/nhaong.jpg" alt="Inner Image" width="231px" height="210px">
                            </div>
                        </div>
                    </div>
                    <div class="avocado">
                        <div class="scene fill">
                            <div class="expand-width" data-depth="0.5">
                                <img src="~/assetsuser/images/slider/inner-img/nhatban.jpg" alt="Inner Image" width="224px" height="204px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="parallax-with-content">
                        <div class="slide-content">
                            


                        </div>
                        <div class="parallax-img-wrap">
                            <div class="tomatoes">
                                <div class="scene fill">
                                    <div class="expand-width" data-depth="0.5">
                                        <img src="~/assetsuser/images/slider/inner-img/hiendai.jpg" alt="Inner Image" width="300px" height="250px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide animation-style-01">
            <div class="slide-inner bg-height" data-bg-image="https://localhost:7035/assetsuser/images/slider/bg/bg2.jpg">
                <div class="parallax-img-wrap">
                    <div class="chilly">
                        <div class="scene fill">
                            <div class="expand-width" data-depth="0.2">
                                <img src="~/assetsuser/images/slider/inner-img/nhatban.jpg" alt="Inner Image" width="231px" height="210px">
                            </div>
                        </div>
                    </div>
                    <div class="avocado">
                        <div class="scene fill">
                            <div class="expand-width" data-depth="0.5">
                                <img src="~/assetsuser/images/slider/inner-img/hiendai.jpg" alt="Inner Image" width="224px" height="204px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="parallax-with-content">
                        <div class="slide-content">
                            

                        </div>
                        <div class="parallax-img-wrap">
                            <div class="tomatoes">
                                <div class="scene fill">
                                    <div class="expand-width" data-depth="0.5">
                                        <img src="~/assetsuser/images/slider/inner-img/nhaong.jpg" alt="Inner Image" width="300px" height="250px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination with-bg d-md-none"></div>

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>