
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color:rgb(216, 216, 216)">
    <div class="row row-full-width margin-top-0">
        <div class="col-sm-8">
            <img src="https://noithatsongle.com.vn/wp-content/uploads/2020/12/xuong-san-xuat-noi-that-3-1.jpg" alt="location" />
        </div>
        <div class="col-sm-4">
            <h3>LIÊN KẾT XƯỞNG SẢN XUẤT</h3>
            <div class="wpb_wrapper">
                <p>Nội thất Song Lê liên kết xưởng sản xuất nội thất quy mô nhỏ hoạt động từ năm 2022.</p>
                <p>Năm 2017 sau 1 năm hoạt động và phát triển, quy mô sản xuất không ngừng mở rộng, xưởng sản xuất được chuyển về <strong>Thôn Yên Lạc 2 – Cần Kiệm – Thạch Thất – Hà Nội</strong>, quy mô lên đến <strong>300m2</strong> với <strong>8 thợ thủ công chuyên nghiệp</strong>.</p>
                <p>Năm 2022, trên đà thành công, ban lãnh đạo quyết định xây dựng mở rộng <strong>nhà máy với diện tích 1000m2</strong>, đồng thời đổi mới hệ thống dây chuyền kỹ thuật, máy móc sản xuất hiện đại. Số lượng nhân công cũng không ngừng tăng lên, hiện tại chúng tôi đang sở hữu đội ngũ <strong>trên 20 công nhân dày dặn kinh nghiệm</strong>.</p>
            </div>
        </div>
    </div>
    <div class="row row-full-width margin-top-0">
        <div class="col-sm-4" style="padding-top:100px">
            <h3>SHOWROOM NỘI THẤT</h3>
            <div class="wpb_wrapper">
                <p>Đầu năm 2019 là dấu mốc lịch sử quan trọng khi <strong> Nội Thất Song Lê</strong> chính thức được thành mở rộng, do <strong>KTS Lê Văn Chiến</strong> đảm nhận .</p>
                <p>Cũng trong năm này <strong>Showroom nội thất Song Lê</strong> được khai trương tại đại chỉ <strong>85-87 Hoàng Quốc Việt, Cầu Giấy, Hà Nội.</strong></p>
            </div>
        </div>
        <div class="col-sm-8">
            <img src="https://noithatsongle.com.vn/wp-content/uploads/2022/01/ben-ngoai-showroom-noi-that-song-le-e1642407140539.jpg" alt="location" />
        </div>
    </div>
    <div class="row row-full-width margin-top-0">
        <div class="col-sm-8">
            <img src="https://noithatsongle.com.vn/wp-content/uploads/2020/12/after-1.jpg" alt="location" />
        </div>
        <div class="col-sm-4" style="padding-top:100px">
            <div class="wpb_wrapper">
                <p>Không chỉ là nơi trưng bày đồ nội thất được đóng sẵn phô bày trình độ và kỹ năng tay nghề thợ.</p>
                <p>Showroom nội thất Song Lê còn mang đến những trải nghiệm đầy nghệ thuật, sáng tạo từ các mẫu hình nội thất hiện đại lẫn cổ điển, tối giản...</p>
            </div>
        </div>
    </div>
</div>

