@{
    ViewData["Title"] = "Liên Hệ";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-8">
        <img src="https://noithatsongle.com.vn/wp-content/uploads/2022/01/ben-ngoai-showroom-noi-that-song-le-e1642407140539.jpg" alt="location"/>
    </div>
    <div class="col-sm-4">
        <h2>CÔNG TY TNHH THIẾT KẾ VÀ SẢN XUẤT NỘI THẤT SONG LÊ</h2>
        <strong>Showroom:</strong> 85-87 Hoàng Quốc Việt, Cầu Giấy, Hà Nội<br />
        <strong>Nhà máy:</strong> Thôn Yên Lạc 2 , Xã Cần Kiệm, Huyện Thạch Thất, Thành phố Hà Nội<br />
        <strong>Thời gian mở cửa:</strong> 8h – 20h00 kể cả thứ 7 và Chủ Nhật.<br />
        <strong>CSKH:</strong> 098 481 66 99<br />
        <strong>Bảo hành:</strong> 0962 598 661<br />
        <strong>Điện thoại:</strong>0242.212.11.00<br />
        <strong>Email:</strong> cskh@noithatsongle.vn<br />
        <strong>Website:</strong> noithatsongle.com.vn<br />
    </div>
</div>
