@model Project.ViewModel.DiscountDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Sửa khuyến mại</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Discount" method="post" asp-area="Admin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên chương trình khuyến mại</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <font color="red">@ViewData["Name"]</font>
            </div>
            
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label">Giảm giá</label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Ngày bắt đầu</label>
                <input type="datetime-local" asp-for="StartDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Ngày kết thúc</label>
                <input type="datetime-local" asp-for="EndDate" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>


