@using Project.Service.Interface
@model Project.ViewModel.ProductDTO
@inject ICategoryService CategoryService
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var list = new SelectList(CategoryService.GetCategory(), "Id", "CategoryName");
}

<h1>Sửa thông tin sản phẩm</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Thumb" />
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label">Tên sản phẩm</label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Quantity" class="control-label">Số lượng</label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Đơn giá</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Trend" /> @Html.DisplayNameFor(model => model.Trend)
                    </label>
                </div>
                @*<div class="form-group form-check">
                <label class="form-check-label">
                <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
                </div>*@
                <div class="form-group">
                    <label asp-for="View" class="control-label"></label>
                    <input asp-for="View" class="form-control" />
                    <span asp-validation-for="View" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
                </div>*@

                <div class="form-check">
                    <input type="hidden" class="form-check-input" asp-for="UpdateAt" value="@DateTime.Now">
                </div>

                <div class="form-group">
                    <label>Danh mục sản phẩm</label>
                    <select class="form-control" asp-items="list" asp-for="CategoryId">
                        <option value="">Chọn danh mục sản phẩm</option>
                    </select>
                    <span class="form-message"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ProductDetail" class="control-label">Mô tả chi tiết</label>

                <textarea asp-for="ProductDetail" class="form-control" id="txtMessage" cols="30" rows="8" placeholder="chi tiết"></textarea>
                <span asp-validation-for="ProductDetail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>

